<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PIA Regulations and privacyPrinciples mapping</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body id="page-top" data-new-gr-c-s-check-loaded="14.1024.0" data-gr-ext-installed="" class="">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-marker"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>PIA TOOL</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/main"><i
                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile"><i
                                class="far fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/table"><i
                                class="far fa-list-alt"></i><span>Table</span></a></li>
                </ul>

            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>

                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                    aria-expanded="false" data-bs-toggle="dropdown" href="#"><i
                                        class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small"
                                                type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0"
                                                    type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>


                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="d-none d-lg-inline me-2 text-gray-600 small">User A</span></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity
                                            log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">PIA process</h3>
                    <!-- Start of the card -->
                    <% for(let i = 0; i <userChoiceReg.length; i++) { %>
                    <div class="card shadow mb-5">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Mapping for <%= userChoiceReg[i]%> and PrivacyPrinciples
                            </p>
                        </div>
                        <div class="card-body">
                            <form action="/newPP" method="post">
                                <div class="row" style="position:relative;">
                                    <!-- style="position:absolute; visibility:hidden;
                                            can hide this for test use -->
                                    <div class="col">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Corressponding Privacy Principles for <%=userChoiceReg[i]%>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%for(let j=0;j<mappingRegAndPP[i].length;j++) {%>
                                                    <tr>
                                                        <td>
                                                            <%=mappingRegAndPP[i][j]%>
                                                        </td>
                                                        <td class="deleteBtn btn btn-outline-warning"
                                                            id=<%="e*"+userChoiceReg[i]+"*"+regIdList[i]%>
                                                            style="background-color:orangered;">
                                                            Delete
                                                        </td>
                                                    </tr>
                                                    <%}%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input type="text" name=<%=userChoiceReg[i]+"*"+regIdList[i]%>
                                                    Placeholder="New Privacy Principles" autocomplete="off" >
                                                    <input type="text"
                                                        name=<%="delete*"+userChoiceReg[i]+"*"+regIdList[i]%>
                                                        Placeholder="Privacy Principle to be deleted"
                                                        id=<%="delete*"+userChoiceReg[i]+"*"+regIdList[i]%>
                                                        autocomplete="off" style="visibility:hidden;position:absolute">
                                                    <!-- style="visibility:hidden;position:absolute" -->
                                                    <button class="btn btn-primary btn-sm" type="submit">
                                                        Add New Privacy Principles
                                                    </button>
                                        </div>
                            </form>
                        </div>
                    </div>
                    <%}%>
                    


                                        </div>
                                        <div class="row">
                                            <a href="toolReg" class="btn btn-outline-primary btn-sm col-lg-2"
                                                style="margin:10px 10px 10px 20px;">Previous
                                                page</a>

                                            <a href="threat" class="btn btn-outline-primary btn-sm col-lg-2"
                                                style="margin:10px 10px 10px 10px;">
                                                Next Page
                                            </a>
                                        </div>
                                    </div>
                                    <footer class="bg-white sticky-footer">
                                        <div class="container my-auto">
                                            <div class="text-center my-auto copyright"><span>Copyright © PIA TOOL
                                                    2021</span></div>
                                        </div>
                                    </footer>
                                </div>
                                <a class="border rounded d-inline scroll-to-top" href="#page-top"
                                    style="display: none;"><i class="fas fa-angle-up"></i></a>
                        </div>
                        <script src="bootstrap/js/bootstrap.min.js"></script>
                        <script src="js/bs-init.js"></script>
                        <script src="js/theme.js"></script>
                        <script src="js/newPP.js"></script>


</body>

</html>